@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,700;0,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

/* font-family: 'Nunito Sans', sans-serif; */
/* font-family: 'Open Sans', sans-serif; */

header {
    /* width: 1366px; */
    width: 100vw;
    height: 807px;

    background-image: url(../images/Image.png);
    background-repeat: no-repeat;
    background-size: cover;
}
menu {
    height: 90px;
    background-color:#00000066;
    opacity: 1;
    
}
menu .container {
    width: 1088px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    
}
.logo {
    width: 281px;
    height: 100%;
    font-size: 35px;
    line-height: 90px;
    text-transform: uppercase;
    letter-spacing: 0px;
    display: flex;
}
.logo span {
    color:#FF0000;
}
.logo__img {
    display: block;
    width: 31px;
    height: 35px;
    background-image: url(../images/Icon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 25px;
}
nav {
    width: 512px;
    height: 100%;
}
ul {
    height: 90px;
    display: flex;
    
}
ul li {
    width: 128px;
    height: 90px;
    text-align: center;
    line-height: 90px;
}
.description {
    height: 717px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.description h1 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 90px;
    font-weight: 900;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 3px 6px #00000040;
}
.description p {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    padding: 0 140px;
    line-height: 15px;
}
.buttons {
    display: flex;
    padding-top: 60px;
}
.buttons button {
    width: 226px;
    height: 66px;
    margin: 0 5px;
    border-radius: 40px;
    border: none;
}
.buttons .first {
    background-color: #FF0000;
    color:#FFFFFF;
    box-shadow: 0px 3px 6px #FF00004D;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
}
.buttons .second {
    background-color: #FFFFFF;
    color: #FF0000;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
}

main {
    /* width: 1366px; */
    height: 1968px;
}
.blog {
    height: 656px;
    background-color: #FFFFFF;
}
.blog h2 {
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 35px;
    color:#000000;
    text-transform: uppercase;
    margin-top: 70px;
    margin-bottom: 40px;
}
main .container1 {
    width: 1088px;
    height: 100%;
    margin: 0 auto;
}
.blog__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blog__content h3 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 19px;
    color:#6A6A6A;
    margin: 20px 0;
}
.blog__content p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color:#6A6A6A;
    line-height: 20px;
}
.blog__content button {
    width: 142px;
    height: 40px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    border: none;
    background-color: #FF0000;
    box-shadow: 0px 3px 6px #FF00004D;
    border-radius: 40px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-top: 15px;

}
.box1 {
    width: 352px;
    height: 434px;
    display: flex;
    flex-direction: column;
}
.box1__img {
    width: 352px;
    height: 234px;
    background-image: url(../images/photo1.png);
}

.box2 {
    width: 352px;
    height: 434px;
    display: flex;
    flex-direction: column;
}
.box2__img {
    width: 352px;
    height: 234px;
    background-image: url(../images/photo2.png);
}
.box3 {
    width: 352px;
    height: 434px;
    display: flex;
    flex-direction: column;
}
.box3__img {
    width: 352px;
    height: 234px;
    background-image: url(../images/photo3.png);
}
.service {
    height: 656px;
    background-color: #28272C;
}
.service h2 {
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 35px;
    color:#FFFFFF;
    text-transform: uppercase;
    padding-top: 70px;
    margin-bottom: 40px;
}
.service__content h3 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 19px;
    color:#FFFFFF;
    margin: 20px 0;
    text-align: center;
}
.service__content p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color:#B2B2B2;
    line-height: 20px;
    text-align: center;
    margin-bottom: 20px;
}
.service__content button {
    width: 142px;
    height: 40px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    border: none;
    background-color: #FF0000;
    box-shadow: 0px 3px 6px #FF00004D;
    border-radius: 40px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-top: 15px auto;
}
 .service__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
}
.card1{
    width: 231px;
    height: 361px;
}
.card1__img {
    width: 170px;
    height: 170px;
    margin: 0 auto;
    background-image: url(../images/mini1.png);
}
.card2 {
    width: 231px;
    height: 361px;
}
.card2__img {
    width: 170px;
    height: 170px;
    margin: 0 auto;
    background-image: url(../images/mini2.png);
}
.card3 {
    width: 231px;
    height: 361px;
}
.card3__img {
    width: 170px;
    height: 170px;
    margin: 0 auto;
    background-image: url(../images/mini3.png);
}
.card4 {
    width: 231px;
    height: 361px;
}
.card4__img {
    width: 170px;
    height: 170px;
    margin: 0 auto;
    background-image: url(../images/mini4.png);
}

.contact {
    height: 656px;
    background-color:#FFFFFF ;
}
.contact h2 {
    text-align: center;
}
.contact__content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.area1 {
    width: 444px;
    height: 317px;
    background-image: url(../images/Form\ Photo.png);
}
.area2 {
    width: 444px;
    height: 317px;
    display: flex;
    flex-direction: column;

}
footer {
    /* width: 1366px; */
    height: 233px;

    background-color: blueviolet;
}